APP_ENV=development
FLASK_DEBUG=0
SECRET_KEY=change-me
JWT_EXPIRES_HOURS=12
DB_HOST=db
DB_PORT=3306
DB_USER=vase_user
DB_PASSWORD=vase_pass
DB_NAME=vase_lab
GOOGLE_CLIENT_ID=1060072226923-f6p2inmdoqja57k12gteahm44qnr4paj.apps.googleusercontent.com
ALLOWED_EMAIL_DOMAIN=ku.th
APP_BASE_URL=http://localhost:5000
RESET_TOKEN_EXPIRES_MINUTES=30
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password-here
SMTP_FROM=your-email@gmail.com