SECRET_KEY=change-me
JWT_EXPIRES_HOURS=12
DB_HOST=db
DB_PORT=3306
DB_USER=vase_user
DB_PASSWORD=vase_pass
DB_NAME=vase_lab
GOOGLE_CLIENT_ID=1060072226923-f6p2inmdoqja57k12gteahm44qnr4paj.apps.googleusercontent.com
ALLOWED_EMAIL_DOMAIN=ku.th
